<%- layout("/layouts/boilerplate") -%>
<div class="row mt-3">
    <div class="col-6 offset-3">
        <!-- Back to Donations with Icon -->
        <a href="/donations" class="btn btn-secondary d-inline-flex align-items-center">
            <i class="fa-solid fa-left-long"></i>
            Back to Donations
        </a>
        <br><br>
        <h3>Create New Donation</h3>

      

        <form action="/donations" method="POST" class="needs-validation" novalidate>
            <div class="mb-3">
                <label for="title" class="form-label">Title</label>
                <input type="text" id="title" name="donation[title]" class="form-control"
                    placeholder="Enter donation title" required>
                <div class="valid-feedback">Title looks good!</div>
                <div class="invalid-feedback">Please enter a title.</div>
            </div>

            <div class="mb-3">
                <label for="description" class="form-label">Description</label>
                <textarea id="description" name="donation[description]" class="form-control"
                    placeholder="Enter description" rows="3" required></textarea>
                <div class="invalid-feedback">Please enter a description.</div>
            </div>

            <button type="submit" class="btn btn-dark add-btn mt-3">Create Donation</button>
            <br><br>
        </form>
        <a href="/donations" class="btn btn-secondary mt-3">Back to Donations</a>
    </div>
</div>